body{font-family:-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
font-size: 14px;
line-height: 1.5;
}

a{
    color: #2D9CDB
    text-decoration: none;
}

a:hover{
    color: #CCC
    text-decoration: none;
}

/*header*/
header{
    width: 100%;
    height: 600px;
    background: url(../img/main.png) center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.header-bg{
    width: 100%;
    height: 280px;
    background-color: rgba(255,255,255,0.5);
}

header h1{
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 36px;
    margin-top: 50px;
}

header p{
    text-align: center;
    font-family: 'VT323', monospace;

}

.profile h2{
    margin-top: 80px;
    font-size: 36px;
}
.profile p{
    font-size: 14px;
}

.profile{
    width: 481px;
    margin: 0 auto 100px;
    text-align: center;
}


.works{
    width: 100%;
    height: 678px;
    padding-top: 80px;
    background-color: #f4f4f4;

}

.works h2{
    font-size: 36px;
    text-align: center;
}

.works p{
    text-align: center;
}

.works_line{
    width: 970px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.cg h3{
    font-size: 24px;
}

.cg{
    text-align: center;
    width: 198px;


}

.graphic h3{
    font-size: 24px;
}
.graphic{
    text-align: center;
    width: 279px;

}
.programming h3{
    font-size: 24px;
}
.programming{
    text-align: center;
    width: 196px;


}
